$textColorMain: black;
$borderRadius: 20px;

body{
    color: $textColorMain;
    background-color: #DFCFBE;
    max-width: 100%;  
    overflow-x: hidden;
    .headline{
        text-align: center;
        margin: 5%;
        border: 2px solid black;    
        border-radius: $borderRadius;
    } 
    .movie{
        padding: 10px;
        margin: 3%;
        border: 1px solid black;
        border-radius: $borderRadius;    
    }
}

.main-box{
    margin: 1%;    
}

.footer-box, .github{
    color: white;
    font-size: 20px;
}

.github{
    font-size: 24px;
}